<% include partials/cabecalho %>
<h1>Login</h1>
<form action="" method="POST">
	<p>Usuário: <input type="text" name="usuario"></p>
	<p>Senha: <input type="password" name="senha"></p>
	<input type="submit" value="OK">
</form>
<% include partials/rodape %>